version: 2.1

commands:

  checkout_merge:
    description: "checkout merge branch"
    steps:
      - checkout
  #     - run:
  #         name: Checkout merge branch
  #         command: |
  #           set -ex
  #           BRANCH=$(git rev-parse --abbrev-ref HEAD)
  #           if [[ "$BRANCH" != "master" ]]; then
  #             git fetch --force origin ${CIRCLE_BRANCH}/merge:merged/${CIRCLE_BRANCH}
  #             git checkout "merged/$CIRCLE_BRANCH"
  #           fi

  designate_upload_channel:
    description: "inserts the correct upload channel into ${BASH_ENV}"
    steps:
      - run:
          name: adding UPLOAD_CHANNEL to BASH_ENV
          command: |
            our_upload_channel=nightly
            # On tags upload to test instead
            if [[ -n "${CIRCLE_TAG}" ]]; then
              our_upload_channel=test
            fi
            echo "export UPLOAD_CHANNEL=${our_upload_channel}" >> ${BASH_ENV}

binary_common: &binary_common
  parameters:
    # Edit these defaults to do a release`
    build_version:
      description: "version number of release binary; by default, build a nightly"
      type: string
      default: ""
    pytorch_version:
      description: "PyTorch version to build against; by default, use a nightly"
      type: string
      default: ""
    # Don't edit these
    python_version:
      description: "Python version to build against (e.g., 3.7)"
      type: string
    cu_version:
      description: "CUDA version to build against, in CU format (e.g., cpu or cu100)"
      type: string
    unicode_abi:
      description: "Python 2.7 wheel only: whether or not we are cp27mu (default: no)"
      type: string
      default: ""
    wheel_docker_image:
      description: "Wheel only: what docker image to use"
      type: string
      default: "pytorch/manylinux-cuda101"
  environment:
    PYTHON_VERSION: << parameters.python_version >>
    PYTORCH_VERSION: << parameters.pytorch_version >>
    UNICODE_ABI: << parameters.unicode_abi >>
    CU_VERSION: << parameters.cu_version >>

jobs:

  binary_linux_wheel:
    <<: *binary_common
    docker:
      - image: << parameters.wheel_docker_image >>
    resource_class: gpu.small
    steps:
      - checkout_merge
      - run: packaging/build_wheel.sh
      - store_artifacts:
          path: dist
      - persist_to_workspace:
          root: dist
          paths:
            - "*"

  binary_linux_conda:
    <<: *binary_common
    docker:
      - image: "pytorch/conda-cuda"
    resource_class: gpu.small
    steps:
      - checkout_merge
      - run: packaging/build_conda.sh
      - store_artifacts:
          path: /opt/conda/conda-bld/linux-64
      - persist_to_workspace:
          root: /opt/conda/conda-bld/linux-64
          paths:
            - "*"
      - store_test_results:
          path: build_results/

  # Requires org-member context
  binary_conda_upload:
    docker:
      - image: continuumio/miniconda
    steps:
      - attach_workspace:
          at: ~/workspace
      - designate_upload_channel
      - run:
          command: |
            # Prevent credential from leaking
            conda install -yq anaconda-client
            set -x
            anaconda  -t "${CONDA_PYTORCHBOT_TOKEN}" upload ~/workspace/*.tar.bz2 -u "pytorch-${UPLOAD_CHANNEL}" --label main --no-progress --force
  # Requires org-member context
  binary_wheel_upload:
    parameters:
      subfolder:
        description: "What whl subfolder to upload to, e.g., blank or cu100/ (trailing slash is important)"
        type: string
    docker:
      - image: circleci/python:3.7
    steps:
      - attach_workspace:
          at: ~/workspace
      - designate_upload_channel
      - checkout
      - run:
          command: |
            pip install --user awscli
            export PATH="$HOME/.local/bin:$PATH"
            # Prevent credential from leaking
            set +x
            export AWS_ACCESS_KEY_ID="${PYTORCH_BINARY_AWS_ACCESS_KEY_ID}"
            export AWS_SECRET_ACCESS_KEY="${PYTORCH_BINARY_AWS_SECRET_ACCESS_KEY}"
            set -x
            for pkg in ~/workspace/*.whl; do
              aws s3 cp "$pkg" "s3://pytorch/whl/${UPLOAD_CHANNEL}/<< parameters.subfolder >>" --acl public-read
            done

  unittest_linux_gpu:
    <<: *binary_common
    machine:
      image: ubuntu-1604-cuda-10.1:201909-23
    resource_class: gpu.small
    environment:
      image_name: "pytorch/manylinux-cuda101"
    steps:
      - checkout
      - run:
          name: Generate cache key
          # This will refresh cache on Sundays, nightly build should generate new cache.
          command: echo "$(date +"%Y-%U")" > .circleci-weekly
      - restore_cache:

          keys:
            - env-v2-linux-{{ arch }}-py<< parameters.python_version >>-{{ checksum ".circleci/unittest/linux/scripts/environment.yml" }}-{{ checksum ".circleci-weekly" }}

      - run:
          name: Setup
          command: docker run -t --gpus all -v $PWD:$PWD -w $PWD "${image_name}" .circleci/unittest/linux/scripts/setup_env.sh
      - save_cache:

          key: env-v2-linux-{{ arch }}-py<< parameters.python_version >>-{{ checksum ".circleci/unittest/linux/scripts/environment.yml" }}-{{ checksum ".circleci-weekly" }}

          paths:
            - conda
            - env
      - run:
          name: Install nestedtensor
          command: docker run -t --gpus all -v $PWD:$PWD -w $PWD "${image_name}" .circleci/unittest/linux/scripts/install.sh
      - run:
          name: Run tests
          command: docker run -t --gpus all -v $PWD:$PWD -w $PWD "${image_name}" .circleci/unittest/linux/scripts/run_test.sh
      - run:
          name: Post Process
          command: docker run -t --gpus all -v $PWD:$PWD -w $PWD "${image_name}" .circleci/unittest/linux/scripts/post_process.sh
      - store_test_results:
          path: test-results

workflows:
  build:
    jobs:
#      - circleci_consistency
      - binary_linux_wheel:
          cu_version: cu92
          name: binary_linux_wheel_py3.7_cu92
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda92
      - binary_linux_wheel:
          cu_version: cu101
          name: binary_linux_wheel_py3.7_cu101
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda101
      - binary_linux_wheel:
          cu_version: cu102
          name: binary_linux_wheel_py3.7_cu102
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda102
      - binary_linux_wheel:
          cu_version: cu92
          name: binary_linux_wheel_py3.8_cu92
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda92
      - binary_linux_wheel:
          cu_version: cu101
          name: binary_linux_wheel_py3.8_cu101
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda101
      - binary_linux_wheel:
          cu_version: cu102
          name: binary_linux_wheel_py3.8_cu102
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda102
      - binary_linux_conda:
          cu_version: cu92
          name: binary_linux_conda_py3.7_cu92
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda92
      - binary_linux_conda:
          cu_version: cu101
          name: binary_linux_conda_py3.7_cu101
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda101
      - binary_linux_conda:
          cu_version: cu102
          name: binary_linux_conda_py3.7_cu102
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda102
      - binary_linux_conda:
          cu_version: cu92
          name: binary_linux_conda_py3.8_cu92
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda92
      - binary_linux_conda:
          cu_version: cu101
          name: binary_linux_conda_py3.8_cu101
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda101
      - binary_linux_conda:
          cu_version: cu102
          name: binary_linux_conda_py3.8_cu102
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda102

  unittest:
    jobs:
      - unittest_linux_gpu:
          cu_version: cu101
          filters:
            branches:
              only:
                - master
                - nightly
          name: unittest_linux_gpu_py3.7
          python_version: '3.7'
      - unittest_linux_gpu:
          cu_version: cu101
          name: unittest_linux_gpu_py3.8
          python_version: '3.8'
  nightly:
    jobs:
#      - circleci_consistency
#      - python_lint
#      - python_type_check
#      - clang_format
      - binary_linux_wheel:
          cu_version: cu92
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.7_cu92
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda92
      - binary_wheel_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.7_cu92_upload
          requires:
            - nightly_binary_linux_wheel_py3.7_cu92
          subfolder: cu92/
      - binary_linux_wheel:
          cu_version: cu101
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.7_cu101
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda101
      - binary_wheel_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.7_cu101_upload
          requires:
            - nightly_binary_linux_wheel_py3.7_cu101
          subfolder: cu101/
      - binary_linux_wheel:
          cu_version: cu102
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.7_cu102
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda102
      - binary_wheel_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.7_cu102_upload
          requires:
            - nightly_binary_linux_wheel_py3.7_cu102
          subfolder: cu102/
      - binary_linux_wheel:
          cu_version: cu92
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.8_cu92
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda92
      - binary_wheel_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.8_cu92_upload
          requires:
            - nightly_binary_linux_wheel_py3.8_cu92
          subfolder: cu92/
      - binary_linux_wheel:
          cu_version: cu101
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.8_cu101
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda101
      - binary_wheel_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.8_cu101_upload
          requires:
            - nightly_binary_linux_wheel_py3.8_cu101
          subfolder: cu101/
      - binary_linux_wheel:
          cu_version: cu102
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.8_cu102
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda102
      - binary_wheel_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_wheel_py3.8_cu102_upload
          requires:
            - nightly_binary_linux_wheel_py3.8_cu102
          subfolder: cu102/
      - binary_linux_conda:
          cu_version: cu92
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.7_cu92
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda92
      - binary_conda_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.7_cu92_upload
          requires:
            - nightly_binary_linux_conda_py3.7_cu92
      - binary_linux_conda:
          cu_version: cu101
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.7_cu101
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda101
      - binary_conda_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.7_cu101_upload
          requires:
            - nightly_binary_linux_conda_py3.7_cu101
      - binary_linux_conda:
          cu_version: cu102
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.7_cu102
          python_version: '3.7'
          wheel_docker_image: pytorch/manylinux-cuda102
      - binary_conda_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.7_cu102_upload
          requires:
            - nightly_binary_linux_conda_py3.7_cu102
      - binary_linux_conda:
          cu_version: cu92
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.8_cu92
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda92
      - binary_conda_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.8_cu92_upload
          requires:
            - nightly_binary_linux_conda_py3.8_cu92
      - binary_linux_conda:
          cu_version: cu101
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.8_cu101
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda101
      - binary_conda_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.8_cu101_upload
          requires:
            - nightly_binary_linux_conda_py3.8_cu101
      - binary_linux_conda:
          cu_version: cu102
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.8_cu102
          python_version: '3.8'
          wheel_docker_image: pytorch/manylinux-cuda102
      - binary_conda_upload:
          context: org-member
          filters:
            branches:
              only: nightly
            tags:
              only: /v[0-9]+(\.[0-9]+)*-rc[0-9]+/
          name: nightly_binary_linux_conda_py3.8_cu102_upload
          requires:
            - nightly_binary_linux_conda_py3.8_cu102
